<div class="col-sm-6 col-md-6">
    {% if user.is_authenticated %}
    <ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                  <span class="caret"></span>
              </a>
        <ul class="dropleft-menu" role="menu">
          <li>
            <a href="{%url 'newsToday'%}">Parking slots</a>
          </li>
          <li>
            <a href="/accounts/password/change">Booking</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    {% else %}
    <li>
      <a class='btn btn-default' href="/login">Login</a>
    </li>

    {% endif %}
  </div>