{% extends "admin/base.html" %}
{% load static %}

{% block branding %}

<!-- <h1 id="head">
<img src="{% static 'img/car.png' %}" width="35" height="35"/>
<b>Smart-Parking</b>
</h1> -->
<nav>
    <!-- header -->
    <div id="header">
        <div id="branding">
            <h1 id="head">
            <img src="/static/img/car.png" width="35" height="35">
            <b>Smart-Parking</b>
            </h1>
        </div>
        <!-- User tools -->
        <div id="user-tools">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                Welcome,<strong>admin</strong>.
                <a href="/">View site</a> /
                <a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>
            </div>
              
              <!-- Use any element to open the sidenav -->
              <span onclick="openNav()">open</span>
              
              <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
              <div id="main">
                ...
              </div>
        </div>
    <div>
        <script>
            /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
            function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            }

            /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
            function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            }
        </script>
    </div>
</nav>
{% endblock %}
{% block extrastyle %}

<link rel="stylesheet" href="{% static 'css/adminstyle.css'%}" />

{%endblock %}
