#header {
    background: #3f221d;
    color: #ffc;
}
#branding h1{
    color: #ffc;

}
div.breadcrumbs {
    background: #ffc;
    color: #3f221d;
}
div.breadcrumbs a {
    color: #3f221d;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #3f221d;
    color: #ffc;
}