#header {
    background: #3f221d;
    color: #ffc;
}
#branding h1{
    color: #ffc;

}
div.breadcrumbs {
    background: #ffc;
    color: #3f221d;
}
div.breadcrumbs a {
    color: #3f221d;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #3f221d;
    color: #ffc;
}
.login .submit-row {
    padding:0px !important;
}

.module h2, .module caption, .inline-group h2 {
    background: #3f221d;
    color: #ffc;
}
a:link, a:visited {
    color: #3f221d !important;
    text-decoration: none;
}
#header a:link, #header a:visited {
    color: #ffc !important;
}
.button.default, input[type=submit].default, .submit-row input.default {
    background: #3f221d !important;
}
.object-tools a:focus, .object-tools a:hover {
    background-color: none !important;
}
.button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background:none;
    width: 0% !important;
}
#recent-actions-module .module{
    display: none;
}
#content-related .module {
    display: none;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #3f221d ; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffc;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
