{% extends 'base.html' %}
{% block content %}
<style>
  .card-img {
    width: 100%;
    height: 28vw;
    object-fit: cover;
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }

  * {
    font-family: Dosis;
  }
</style>


<div id="carouselExampleControls" class="carousel slide d-none d-md-block" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-img">
        <img class="d-block w-100"
          src="https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="First slide">
      </div>
      <div class="carousel-caption p-5 d-none d-md-block text-light" style="position: fixed; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 65%;
      top: 59px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(68, 12, 12, 0.912)">
        <h1 class="text-light m-5" style="margin-top: 50px;">Smart-Parking</h1>
        <h4>Park with us in kigali based on your location </h4>
        <button type="button" class="btn btn-outline-danger mt-4 text-light mr-4" data-target="#exampleModal">
          Book with <i class='fas fa-mobile'></i>
        </button>
      </div>
    </div>
    
  </div>

</div>

<div class="container">

  <h3 class="text-center m-4">About Us</h3>
  <hr>
  <p style="float:right">Smart-Parking is the leading provider of solutions for the last-mile of mobility. Our technology helps individuals to use our web-mobile app and API-based solutions to find and book convenient, economical parking in kigali.</p>
   
</div>

  {% endblock %}