<nav class="navbar navbar-custom navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Smart-Parking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>

      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Location
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">AUCA</a>
          <a class="dropdown-item" href="#">Kigali Heights</a>
        </div>
      </li>
      
      <li><a class="nav-item nav-link active" href="{% url 'login' %}">Login</a></li>
      <li><a class="nav-item nav-link active" href="https://smartparking250.herokuapp.com/admin/"><i class="fas fa-user"></i>Admin</a></li>

      
    </ul>

    
  </div>
</nav>
<style>
  .navbar-custom { 
    background-color: white; 
} 
</style>